<div ng-controller="CourseController" class="mainbar" style="margin-left:230px">
             <div ng-hide="addingCourse" >
            <!-- Page heading -->
            <div class="page-head">
                <!-- Page heading -->
                <h1 id="add-course-heading" class="pull-left">Select from the following courses</h1>
                <div class="clearfix"></div>
            </div>

            <div class="matter">
                <div class="row">
                        <div class="col-xs-12" role="main">
                             <div class="courses">

                                <div id="available-course-list"  class="availablecourses">
                                <div id="select-course-info" class="alert alert-info" ng-show="!userRegisteredCourses.length"><span class="glyphicon glyphicon-info-sign"></span> Lets get started! Proceed by selecting at least one course, click on course to select</div>
                                <!-- <div id="select-course-warning" class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Sorry! You need to select atleast one course to get started.</div> -->
                                <ul class="courselist" >
                                    <li ng-repeat="availableCourse in availableCourses" ng-class="{registered:isRegistered(availableCourse.id)}" ng-click="toggleCourseSelection(availableCourse.id)">
                                         <span id="course{{avialableCourse.id}}">{{availableCourse.course.course_name}}</span>
                                         <span id="tick" ng-show="isRegistered(availableCourse.id)"><i class="fa fa-check-circle"></i></span>
                                         <div><span id="section" style="">{{availableCourse.section.name}}</span>
                                            <span id="term" style="">{{availableCourse.term.description}}</span>
                                            <span id="year" style="">{{availableCourse.year}}</span>
                                        </div>
                                    </li>

                                </ul>
                                 </div>

                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="col-lg-offset-4">
                        <div id="select-course-complete"class="btn btn-primary" ng-show="userRegisteredCourses.length"><a style="color:white" href="/takeaways/index">I'm done selecting courses</a></div>
                        <div id="add-new-course"class="btn"><a style="color:white" ng-click="addingCourse=true"><i class="fa fa-plus-circle fa-lg"></i> Create new Class<span class="beta"> BETA</span></a></div>
                        </div>
                </div>
                <!-- Breadcrumb -->

                 <div class="clearfix"></div>


            </div>
            </div>
            <div ng-show="addingCourse">
                <div class="page-head">
                <!-- Page heading -->
                <h1 id="choose-course-heading" class="pull-left">Adding New Course</h1>
                <div class="clearfix"></div>
                </div>
                <div class="matter">
                    <div ng-show="availableCourses.length" id="back-to-courses"class="btn"><a style="color:white" ng-click="addingCourse=false"><i class="fa fa-chevron-left"></i> Back to Courses</a></div>
                    <div ng-hide="availableCourses.length" id="create-course-info" class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> Congratulations! You are the first one to be here from your college. Lets begin by creating courses </div>
                    <form name="addClassForm" role="form" class="form form-horizontal" ng-submit="submitNewClassForm()">
                        <div class="form-group" ng-hide="creatingCourse">
                                <div class="col-lg-4">
                                    <label class="control-label col-lg-3" for="course">Course</label>
                                    <select name="course" ng-model="newClass.course" ng-options="course.id as course.course_name for course in courses"></select>
                                </div>
                                <div>
                                     <a id="create-course" class="col-lg-6" ng-click="creatingCourse=true"><i class="fa fa-plus-circle fa-lg"></i>Didn't find your course,Add it <span class="beta"> BETA</span></a>

                                   </div>
                            </div>


                        <div class="form-group" ng-show="creatingCourse">
                            <div class="col-md-4">
                            <label class="control-label" for="courseName">Course Name</label>
                            <input type="text" class="form-control"  ng-model="newCourse.course_name" id="courseName" placeholder="Course Name" novalidate>
                            </div>
                        </div>
                        <div class="form-group " ng-show="creatingCourse">
                            <div class="col-md-4">
                            <label class="control-label" for="courseDesc">Course Description</label>
                            <input type="text" class="form-control"  ng-model="newCourse.course_desc" id="courseDesc" placeholder="Course Description" novalidate>
                            </div>
                        </div>
                            <!-- <p class="course-desc">{{newClass.selectedCourse.course_desc}}</p> -->

                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label col-lg-3" for="section">Section</label>
                                    <select name="section" ng-model="newClass.section" ng-options="section.id as section.name for section in sections"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label col-lg-3" for="program">Program</label>
                                    <select name="program" ng-model="newClass.program" ng-options="program.id as program.name for program in programs"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label col-lg-3" for="term">Term</label>
                                    <select name="term" ng-model="newClass.term" ng-options="term.id as term.description for term in terms"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label col-lg-3" for="status">Status</label>
                                    <select name="status" ng-model="newClass.status" ng-options="status.id as status.value for status in statuses"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label col-lg-3" for="year">Year</label>
                                    <select name="year" ng-model="newClass.year" ng-options="year as year for year in years"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label class="control-label col-lg-3" for="batch">Batch</label>
                                    <select name="batch" ng-model="newClass.batch" ng-options="year as year for year in years"></select>
                                </div>
                            </div>
                            <button id="submit-course" type="submit" class="btn btn-primary col-lg-3">Save</button>

                    </form>
                </div>
            </div>

        </div>
