<div ng-controller = "EditProfileController" class="mainbar" style="margin-left:230px">

<div class="page-head">
    <!-- Page heading -->
    <h1 id="add-course-heading" class="pull-left">Edit Profile</h1>
    <div class="clearfix"></div>
</div>


    <div class="matter" >
        <div class="row" >
            <div class="col-xs-12" role="main">

            <div class="col-xs-12">

                <div id="edit-profile-success" class="alert alert-success" ng-show="editProfileSuccess"><span class="glyphicon glyphicon-ok"></span>  Your profile is successfully updated.</div>

                <form name="editProfileForm" novalidate ng-submit="updateUser(editProfileForm)" class="form-horizontal" role="form">

                    <div class="form-group"  ng-class="{ 'has-error' : editProfileForm.firstName.$invalid && !editProfileForm.firstName.$pristine }" >

                        <label class="col-lg-3 control-label">First name:</label>

                        <div class="col-lg-6">
                            <input class="form-control" name="firstName" type="text" required  ng-model="firstName" >
                            <p ng-show="editProfileForm.firstName.$invalid && !editProfileForm.firstName.$pristine" class="help-block">Enter a first name.</p>
                        </div>


                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : editProfileForm.lastName.$invalid && !editProfileForm.lastName.$pristine }">

                        <label class="col-lg-3 control-label">Last name:</label>

                        <div class="col-lg-6">
                            <input class="form-control" name="lastName" type="text" required  ng-model="lastName" >
                            <p ng-show="editProfileForm.lastName.$invalid && !editProfileForm.lastName.$pristine" class="help-block">Enter a last name.</p>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : editProfileForm.userName.$invalid && !editProfileForm.userName.$pristine }">

                        <label class="col-lg-3 control-label">Username:</label>

                        <div class="col-lg-6">
                            <input class="form-control" name="userName" type="text" required  ng-model="userName" >
                            <p ng-show="editProfileForm.userName.$invalid && !editProfileForm.userName.$pristine" class="help-block">Enter a username.</p>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : editProfileForm.emailId.$invalid && !editProfileForm.emailId.$pristine }">

                        <label class="col-lg-3 control-label">Email:</label>

                        <div class="col-lg-6">
                            <input class="form-control" name="emailId" type="email" required  ng-model="emailId" >
                            <p ng-show="editProfileForm.emailId.$invalid && !editProfileForm.emailId.$pristine" class="help-block">Enter a valid email.</p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">

                            <input type="submit" ng-disabled="disablesubmit" class="btn btn-primary" value="{{saveUserLabel}}"/>

                            <span></span>
                            <input type="reset" class="btn btn-default" ng-click="cancel();" value="Cancel">
                        </div>
                    </div>
                </form>
            </div>


            </div>

            <div class="clearfix"></div>


        </div>

    </div>

</diV>