<div ng-controller="SessionController" class="widget wlightblue">
              <div class="widget-head" id="bluewidget">
                <div class="pull-left">
                 <b> {{sessionsresult.session_name}}</b>
                  <a id="edit-session-link_1" href="#" class="glyphicon glyphicon-edit" title="Edit Session"
                      ng-click="editSessionName()" ng-hide="sessionsresult.hideNewButton"></a>
                </div>
                <div class="widget-icons pull-right" ng-hide="sessionsresult.hideNewButton">
                   <a href="#" class="btn btn-primary" style="background:#e1e3e4 !important;color:#000"
                     id="newTakeaway" ng-click="newTakeaway(); sessionsresult.showTakeaway = true;" >
                      <span class="glyphicon glyphicon-pencil"></span> New Takeaway
                    </a>
                      <li class="fa fa-chevron-up" id="up" ng-show="sessionsresult.showTakeaway"  title="Click here to collapse takeaways" ng-click="sessionsresult.showTakeaway = !sessionsresult.showTakeaway"></li>
                      <li class="fa fa-chevron-right" id="down" ng-hide="sessionsresult.showTakeaway"  title="Click here to expand takeaways" ng-click="sessionsresult.showTakeaway = !sessionsresult.showTakeaway"></li>
                      <span title="Total number of takeaways"></span>
                   <!-- <a href="#" class="wclose"><i class="fa fa-times" id="close"></i></a> -->
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="widget-content">
                  

                    <ul id="takeaway-list1" class="recent">

                      <!-- takeaway set display -->
                      <div>
                        <div id="{{taset.id}}" ng-repeat="taset in sessionsresult.takeaway_set | filter: criteriaMatch(criteria)" ng-show="sessionsresult.showTakeaway">
                          <take-away></take-away>
                        </div>
                      </div>
                    </ul>
                  
              </div>
          </div>
