<div ng-controller="takeawayDashboardCtrl">
  <div class="content">
    <div class="mainbar">
      <div id="course-list" class="page-head">
        <ui class="nav nav-pills" >
          <li class="course" ng-repeat="courseresult in availableCourses.results" >
            <a class="course-item" ng-click="loadCourses(courseresult.course.id)" id="{{courseresult.course.id}}_course">
                            <span id="course{{courseresult.course.id}}">
                                <i class="fa fa-folder-open"></i> 
                                <b>{{courseresult.course.course_name}}</b>
                            </span>
                        </a>
          </li>
        </ui>
        <div class="clearfix"></div>
      </div>
      
      <div class="col-md-6" id="takeaway-container">
      <div ng-show="displaysessions">
        <div ng-repeat="sessionsresult in sessions.results">
          <div class="widget wlightblue">
              <div class="widget-head">
                <div class="pull-left">
                  {{sessionsresult.session_name}}
                  <a id="edit-session-link" href="#" class="glyphicon glyphicon-edit" title="Edit Session"></a> 
                </div>
                <div class="widget-icons pull-right">
                   <a href="#" class="btn btn-primary" style="background:#e1e3e4 !important;color:#000"
                      ng-click="newTakeaway(sessionsresult)">
                      <span class="glyphicon glyphicon-pencil"></span> New Takeaway
                    </a>
                   <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                   <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="widget-content">
                  <div class="padd">
                    <ul id="takeaway-list" class="recent">
                      <div>
                        <div ng-repeat="taset in sessionsresult.takeaway_set">
                            <li>
                              <div id="{{sessionsresult.id}}_{{taset.id}}_view" class="recent-content">
                                <div class="recent-meta">Posted on {{taset.created_dt}} by {{taset.username}}</div>
                                <div id="editable-notes">
                                  <pre id="takeaway" class="takeaway-pre">
                                    <a href="#" style="text-decoration: none;" ng-click="makeEditable(sessionsresult.id+'_'+taset.id, taset.notes)">
                                      {{taset.notes}}
                                    </a>
                                  </pre>
                                </div>
                                <div class="btn-group" style="float: right; display: block;">
                                  <button id="update" class="btn btn-xs btn-primary" title="Edit" 
                                          style="margin-left: 5px;" ng-click="makeEditable(sessionsresult.id+'_'+taset.id, taset.notes)">
                                    <i class="fa fa-pencil-square-o fa-lg"></i> 
                                  </button>
                                  <button id="delete" class="btn btn-xs btn-danger" title="Delete" 
                                          style="margin-left: 5px;" ng-click="deleteTakeaway(sessionsresult, taset)">
                                    <i class="fa fa-trash-o fa-lg"></i> 
                                  </button>
                                </div>
                                <div class="btn-group-left">
                                  <span class="label label-warning" ng-repeat="tag in taset.tags">
                                    <i class="fa fa-tags"></i>{{tag.name}}
                                  </span>
                                  <div class="rateit" data-rateit-value="5" 
                                        data-rateit-ispreset="true" data-rateit-readonly="true" 
                                      data-rateit-resetable="false">
                                    <button id="rateit-reset-2" type="button" data-role="none" 
                                            class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-2" 
                                            style="display: none;">
                                    </button>
                                    <div id="rateit-range-2" class="rateit-range" tabindex="0" role="slider" aria-label="rating" 
                                         aria-owns="rateit-reset-2" aria-valuemin="0" aria-valuemax="5" aria-valuenow="5" 
                                         aria-readonly="true" style="width: 80px; height: 16px;">
                                      <div class="rateit-selected rateit-preset" style="height: 16px; width: 80px;">
                                      </div>
                                      <div class="rateit-hover" style="height: 16px;">
                                      </div>
                                    </div>
                                  </div>
                                  <span class="total-raters">
                                      (<i class="fa fa-user"></i> {{taset.total_raters}})
                                  </span>
                                  <span>
                                    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-animate"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">public</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">private</span><input type="checkbox" class="switch" name="my-checkbox" animate="true" data-on-text="public" data-off-text="private" offcolor="danger" checked=""></div></div>
                                  </span>
                                </div>
                                <div id="favourite">
                                  <a> <span id="myfav" class="glyphicon glyphicon-heart-empty"></span> </a>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                              <div id="{{sessionsresult.id}}_{{taset.id}}_edit" style="display: none;">
                                <textarea rows="5" cols="100" style="width: 700px;" id="{{sessionsresult.id}}_{{taset.id}}_notes"></textarea>
                                <button class="btn btn-success" ng-click="updateTakeaway(sessionsresult.id+'_'+taset.id, taset)">Update</button>
                                <button class="btn btn-success" ng-click="cancelEdit(sessionsresult.id+'_'+taset.id, taset.notes)">Cancel</button>
                              </div>
                            </li>
                        </div>
                      </div>
                    </ul>
                  </div>
              </div>
          </div>
         </div>
      </div>
      </div>
    </div>
  </div>
</div>