<div ng-controller="takeawayDashboardCtrl">
  <div class="content">
    <div class="mainbar">
      <div id="course-list" class="page-head">
        <ui class="nav nav-pills" >
          <li class="course" ng-repeat="courseresult in availableCourses.results" >
            <a class="course-item" ng-click="freshLoadOfSessions(courseresult.course.id)" id="{{courseresult.course.id}}_course">
                            <span id="course{{courseresult.course.id}}">
                                <i class="fa fa-folder-open"></i> 
                                <b>{{courseresult.course.course_name}}</b>
                            </span>
                        </a>
          </li>
        </ui>
        <div class="clearfix"></div>
      </div>
      
      <div class="col-md-6" id="takeaway-container">
      <div ng-show="displaysessions">
        <div ng-repeat="sessionsresult in sessions.results">
          <div class="widget wlightblue">
              <div class="widget-head">
                <div class="pull-left">
                  {{sessionsresult.session_name}}
                  <a id="edit-session-link" href="#" class="glyphicon glyphicon-edit" title="Edit Session"
                      ng-click="editSessionName(sessionsresult)"></a> 
                </div>
                <div class="widget-icons pull-right">
                   <a href="#" class="btn btn-primary" style="background:#e1e3e4 !important;color:#000"
                      ng-click="newTakeaway(sessionsresult)">
                      <span class="glyphicon glyphicon-pencil"></span> New Takeaway
                    </a>
                   <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                   <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="widget-content">
                  <div class="padd">
                    <ul id="takeaway-list" class="recent">
                      <div>
                        <div ng-repeat="taset in sessionsresult.takeaway_set">
                          <li>
                            <div id="{{sessionsresult.id}}_{{taset.id}}_view" class="recent-content">
                              <div class="recent-meta">Posted on {{taset.created_dt}} by {{taset.username}}</div>
                              <div id="editable-notes" ng-click="makeEditable(sessionsresult.id+'_'+taset.id, taset.notes)" title="Click to edit the takeaway" 
                                style="cursor: pointer;">
                                <div ng-if="taset.isOwner"> 
                                  <pre id="takeaway" class="takeaway-pre takeaway-pre-owner">{{taset.notes}}</pre>
                                </div>
                                <div ng-if="!taset.isOwner"> 
                                  <pre id="takeaway" class="takeaway-pre">{{taset.notes}}</pre>
                                </div>
                              </div>
                              <div class="btn-group" style="float: right; display: block;">
                                <div ng-if="taset.isOwner">
                                  <button id="update" class="btn btn-xs btn-primary" title="Edit" 
                                          style="margin-left: 5px;" ng-click="makeEditable(sessionsresult.id+'_'+taset.id, taset.notes)">
                                    <i class="fa fa-pencil-square-o fa-lg"></i> 
                                  </button>
                                  <button id="delete" class="btn btn-xs btn-danger" title="Delete" 
                                          style="margin-left: 5px;" ng-click="deleteTakeaway(sessionsresult, taset)">
                                    <i class="fa fa-trash-o fa-lg"></i> 
                                  </button>
                                </div>
                              </div>
                              <div class="btn-group-left">
                                <span ng-repeat="tag in taset.tags">
                                  <span class="label label-warning">
                                    <i class="fa fa-tags"></i>{{tag.name}}
                                  </span>
                                  <span style="width:2px">&nbsp;</span>
                                </span>
                                <div class="rateit" data-rateit-value="{{tag.rating}}" 
                                      data-rateit-ispreset="true" data-rateit-readonly="true" 
                                    data-rateit-resetable="false">
                                  <button id="rateit-reset-2" type="button" data-role="none" 
                                          class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-2" 
                                          style="display: none;">
                                  </button>
                                  <div id="rateit-range-2" class="rateit-range" tabindex="0" role="slider" aria-label="rating" 
                                       aria-owns="rateit-reset-2" aria-valuemin="0" aria-valuemax="5" aria-valuenow="5" 
                                       aria-readonly="true" style="width: 80px; height: 16px;">
                                    <div class="rateit-selected rateit-preset" style="height: 16px; width: 80px;">
                                    </div>
                                    <div class="rateit-hover" style="height: 16px;">
                                    </div>
                                  </div>
                                </div>
                                <span class="total-raters">
                                    (<i class="fa fa-user"></i> {{taset.total_raters}})
                                </span>
                                <span>
                                  <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-animate"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">public</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">private</span><input type="checkbox" class="switch" name="my-checkbox" animate="true" data-on-text="public" data-off-text="private" offcolor="danger" checked=""></div></div>
                                </span>
                              </div>
                              <span style="width:2px">&nbsp;</span>
                              <div id="favourite">
                                <span ng-if="taset.isFavourite"> 
                                  <a>
                                    <span id="myfav" class="glyphicon glyphicon-heart" ng-click="makeFavourite(taset)"></span>
                                  </a>
                                </span>
                                <span ng-if="!taset.isFavourite"> 
                                  <a ng-click="makeFavourite(taset)">
                                    <span id="myfav" class="glyphicon glyphicon-heart-empty" ng-click="makeFavourite(taset)"></span> 
                                  </a>
                                </span>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <div id="{{sessionsresult.id}}_{{taset.id}}_edit" style="display: none; height: 300px;">
                              <textarea rows="5" class="form-control" id="{{sessionsresult.id}}_{{taset.id}}_notes"></textarea>
                              <br/>
                              <div class="btn-group-left">
                                <span ng-repeat="tag in taset.tags">
                                  <span class="label label-warning">
                                    <i class="fa fa-tags"></i>{{tag.name}}
                                  </span>
                                  <span style="width:2px">&nbsp;</span>
                                </span>
                                <input type="text" id="tag" placeholder="Type the tag name and press Enter" class="form-control" />
                              <div>
                              <br/>
                              <div>
                                <span>
                                  <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-animate"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">public</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">private</span><input type="checkbox" class="switch" name="my-checkbox" animate="true" data-on-text="public" data-off-text="private" offcolor="danger" checked=""></div></div>
                                </span>
                              </div>
                              <br/>
                              <button class="btn btn-success" ng-click="updateTakeaway(sessionsresult.id+'_'+taset.id, taset)">Update</button>
                              <button class="btn btn-danger" ng-click="cancelEdit(sessionsresult.id+'_'+taset.id, taset.notes)">Cancel</button>
                              <br/>
                            </div>
                          </li>
                        </div>
                      </div>
                    </ul>
                  </div>
              </div>
          </div>
         </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="newTakeawayTemplateId">
    <div class="ngdialog-message">
      <h5>New Takeaway for {{sessionsresult.session_name}}</h5>
      <div class="row1">
        <textarea rows="5" class="form-control" id="notes"></textarea>
      </div>
      <div class="row1" style="padding-top: 20px;">
        <input type="text" id="tag" placeholder="Type the tag name and press Enter" class="form-control" />
      </div>
      <div class="row1"style="padding-top: 20px;">
        <span>
          <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-animate"><div class="bootstrap-switch-container"><span class="bootstrap-switch-handle-on bootstrap-switch-primary">public</span><label class="bootstrap-switch-label">&nbsp;</label><span class="bootstrap-switch-handle-off bootstrap-switch-default">private</span><input type="checkbox" class="switch" name="my-checkbox" animate="true" data-on-text="public" data-off-text="private" offcolor="danger" checked=""></div></div>
        </span>
      </div>
    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeDialog()"
      ng-dialog-class="ngdialog-theme-default" >Close</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="saveTakeaway(sessionsresult)">Save</button>
    </div>
</script>

<script type="text/ng-template" id="editSessionNameTemplateId">
    <div class="ngdialog-message">
      <h5>Editing Session "{{session_name_current}}"</h5>
      <textarea class="form-control" id="editedSessionName" ng-model="modifiedSession.session_name"></textarea>
    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeDialog()" 
        ng-dialog-class="ngdialog-theme-default" >Close</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" 
        ng-click="updateSessionName(modifiedSession, sessionsresult)">Update</button>
    </div>
  </div>
</script>