<div ng-controller="takeawayDashboardCtrl">

  <div class="content">
    <div class="mainbar">

      <div id="course-list" class="page-head">
        <ui class="nav nav-pills" >
      <!-- course display -->
          <li class="course {{course.courseClass}}" ng-repeat="courseInstance in availableCourses.results" >
            <a ng-controller="CourseController" class="course-item" ng-click="freshLoadOfSessions()" id="{{courseInstance.course.id}}_course">
                <span id="course{{courseInstance.course.id}}">
                    <i class="fa fa-folder-open"></i>
                    <b>{{courseInstance.course.course_name}}</b>
                </span>
            </a>
          </li>
        </ui>
        <div class="clearfix"></div>
      </div>
      <a href="#" class="btn btn-primary leaderBoardButton" style="float:left;margin-top:10px" ng-click="showLeaderBoard()" ><span class="fa fa-list-ol"></span> Leader Board</a>
      <div class="col-md-6" id="takeaway-container">

        <!-- session display -->
      <div ng-show="displaysessions">
        <div ng-repeat="sessionsresult in sessions.results">
           <session></session>
         </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="newTakeawayTemplateId">
    <div id="create-takeaway-container" class="ngdialog-message">
      <h5>New Takeaway for {{sessionsresult.session_name}}</h5>
      <div class="row1">
        <textarea rows="5" data-ui-tinymce data-ng-model="newTakeawayContent" class="form-control" id="notes"></textarea>
      </div>

     <div ng-controller="TagController">
    <tags-input  placeholder="Add a Tag by typing it" ng-model="tags" display-property="name"  on-tag-added="tagAddedInEditTakeaway($tag)">
       <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
    </div>

      <span public-private taset="taset"
           course-id={{sessionsresult.courseInstance.id}}
           session-id={{sessionsresult.id}}
           perform-post=false></span>

    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeDialog()"
      ng-dialog-class="ngdialog-theme-default" >Close</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="saveTakeaway(sessionsresult)">Save</button>
    </div>
</script>

<script type="text/ng-template" id="cantCreateTakeawayTemplateId">
    <div class="ngdialog-message">
      <h5>You need to rate atleast {{userPermisssionDetail.remaining_rating_count_till_create}} more Takeaways to be able to create New Takeaway</h5>

    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="ngDialog.close();"
      ng-dialog-class="ngdialog-theme-default" >Close</button>
    </div>
</script>

<script type="text/ng-template" id="courseLeaderBoardTemplateId">
    <div class="ngdialog-message">
      <h5 class="courseLeaderBoardHeading">Champions in this course:</h5>

      <table class="table table-bordered">
      <thead>
      <tr>
      <th>User</th>
      <th>Points</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="leader in leaderBoard">
        <td>{{leader.user_name}}</td>
        <td>{{leader.score}}</td>
      </tr>
      </tbody>
      </table>


    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="ngDialog.close();"
      ng-dialog-class="ngdialog-theme-default" >Close</button>
    </div>
</script>



<script type="text/ng-template" id="editSessionNameTemplateId">
    <div class="ngdialog-message">
      <h5>Editing Session "{{session_name_current}}"</h5>
      <textarea class="form-control" id="editedSessionName" ng-model="modifiedSession.session_name"></textarea>
    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeDialog()"
        ng-dialog-class="ngdialog-theme-default" >Close</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary"
        ng-click="updateSessionName(modifiedSession, sessionsresult)">Update</button>
    </div>
  </div>
</script>
