<div class="popover" tabindex="-1" >
	<div class="arrow"></div>
	<h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
	<div class="popover-content" style="padding:0px">
		<form name="popoverForm"><p ng-bind-html="content" style="margin:0px;min-width:300px"></p>
			<input type="radio" name="share" ng-model="share.visibility" value="me">Only me<br>
			<input type="radio" name="share" ng-model="share.visibility" value="everyone">Everyone<br>
			<input type="radio" ng-show="groups.length" name="share" ng-model="share.visibility" value="groups"><span ng-show="groups.length">Select Group</span><br>
			<div style="padding-left:10px;" ng-show='share.visibility=="groups"'>
				
					<p ng-repeat="group in groups"><input  type="checkbox" >{{group.group_name}}</p>
			</div>
			<div class="form-actions"><button type="button" class="btn btn-primary" ng-click="toggleButtons(performPost);$hide()">Save and Close</button></div></form>
	</div>
</div>

