<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style>
      input.required, error {
        border: 2px solid red;
      }
    </style>
    <title>{% block title %}MBA Takeaways{% endblock %}</title>
    <link href="/static/takeaway/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/takeaway/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/static/takeaway/css/bootstrap-switch.css" rel="stylesheet">
    <link href="/static/takeaway/css/style.css" rel="stylesheet">
    <!-- Widgets stylesheet -->
    <link href="/static/takeaway/css/widgets.css" rel="stylesheet">

<link href="/static/takeaway/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="/static/takeaway/css/jquery.raty.css" rel="stylesheet"> -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">




<link href="/static/takeaway/css/app.css?{% now "U" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/takeaway/css/jquery.gritter.css" />
<link rel="shortcut icon" href="/static/takeaway/img/icons/pen-icon.png">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" >
        <div class="container">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index'%}" class="navbar-brand" id="heading">MBA Takeaways</a>
                <span class="beta" style=" color: #fff;
     position: absolute;top: 30px;left: 180px;font-size: 9px;
">BETA</span>
            </div>
        </div>
    </div>
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
        {% block main_content %}{% endblock %}
    </div>
</body>
</html>