{% extends "registration/base_home.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<div class="password-change-form">
<h1 class="alert alert-success"><span class="glyphicon glyphicon-ok-circle"></span>{% trans ' Well done!  Password change successful' %}</h1>
<div class="btn btn-success col-lg-offset-4"><a style="color:white" href="/profile">Go Back to My Profile</a></div>
</div>


{% endblock %}

{% block content-related %}

{% endblock %}