{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="password-change-form">
<h1 class="alert alert-success"><span class="glyphicon glyphicon-ok-circle"></span>{% trans 'Password reset complete' %}</h1>

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
<div class="btn btn-success col-lg-offset-4"><a style="color:white" href="{{ login_url }}">Go to Login Page</a></div>

</div>
{% endblock %}


{% block content-related %}

{% endblock %}