{% extends "registration/base.html" %}
{% load i18n %}
{% block content %}
        

        <form id="category_form" method="post" action="/contact_login/" >
                            <h1>Contact Us</h1>

        
            {% csrf_token %}
            {{ form.subject.errors }}


            <div class="form-group" >
<p><label class="control-label col-lg-3" for="id_subject" >{% trans 'Subject:' %}</label>{{ form.subject }}</p>
</div>
            {{ form.message.errors }}

<div class="form-group">
<p><label class="control-label col-lg-3" for="id_message" >{% trans 'Message:' %}</label>
<textarea name="message" id="message" rows="4" cols="20" ></textarea></p>
</div>
            {{ form.email.errors }}

<div class="form-group" >
<p><label class="control-label col-lg-3" for="id_email" >{% trans 'E-mail:' %}</label>{{ form.sender }}</p>
</div>


           

            <input class="btn btn-primary col-lg-offset-3"type="submit" name="submit" value="Send" />
            <br>{{message}}</br>


        </form>
        


{% endblock %}
        
   