
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>College Notes Pro</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>


    <link href="/static/takeaway/css/style.css" rel="stylesheet">
    <!-- Widgets stylesheet -->
    <link href="/static/takeaway/css/widgets.css" rel="stylesheet">

<link href="/static/takeaway/css/font-awesome.min.css" rel="stylesheet">

<link href="/static/takeaway/css/font-awesome.min.css" rel="stylesheet">

<link href="/static/takeaway/css/app.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">College Notes Pro</a>
            </div>
            <!-- Site name for smallar screens -->
            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <!-- Links -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img src="img/user.jpg" alt="" class="nav-user-pic img-responsive" />Sagar <b class="caret"></b>
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-cogs"></i> Settings</a>
                            </li>
                            <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Notifications -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Message button with number of latest messages count-->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i> New Notes
                            <span class="badge badge-important">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-envelope-o"></i> Notes</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6 -->
                                <a href="#">Chapter 1 Finance - Sunil</a>
                                <!-- List item para -->
                                <p>Quisque eu consectetur erat eget semper...</p>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Chapter 2 Marketing - Vijay</a>
                                <p>Quisque eu consectetur erat eget semper...</p>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Members button with number of latest members count -->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-user"></i> Classmates
                            <span class="badge badge-success">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-user"></i> Classmates</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6-->
                                <a href="#">Ravi Kumar</a>
                                <span class="label label-warning pull-right">Finance</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Balaji</a>
                                <span class="label label-important pull-right">Marketing</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Kumarasamy</a>
                                <span class="label label-warning pull-right">Good in Everything</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" >
        <div class="container">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">College Notes Pro</a>
            </div>
            <!-- Site name for smallar screens -->
            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <!-- Links -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img src="img/user.jpg" alt="" class="nav-user-pic img-responsive" />Sagar <b class="caret"></b>
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-cogs"></i> Settings</a>
                            </li>
                            <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Notifications -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Message button with number of latest messages count-->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i> New Notes
                            <span class="badge badge-important">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-envelope-o"></i> Notes</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6 -->
                                <a href="#">Chapter 1 Finance - Sunil</a>
                                <!-- List item para -->
                                <p>Quisque eu consectetur erat eget semper...</p>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Chapter 2 Marketing - Vijay</a>
                                <p>Quisque eu consectetur erat eget semper...</p>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Members button with number of latest members count -->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-user"></i> Classmates
                            <span class="badge badge-success">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-user"></i> Classmates</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6-->
                                <a href="#">Ravi Kumar</a>
                                <span class="label label-warning pull-right">Finance</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Balaji</a>
                                <span class="label label-important pull-right">Marketing</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Kumarasamy</a>
                                <span class="label label-warning pull-right">Good in Everything</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <!-- Main content starts -->
    <div class="content">
        <!-- Sidebar -->

        <!-- Main bar -->
        <div class="mainbar">

            <!-- Page heading -->
            <div class="page-head">
                <!-- Page heading -->
                <h2 class="pull-left">Courses
                    <!-- page meta -->
                    <span class="page-meta">List of courses</span>
                </h2>
                <!-- Breadcrumb -->
                <div class="bread-crumb pull-right">
                    <a href="index.html"><i class="fa fa-home"></i> Home</a>
                    <!-- Divider -->
                    <span class="divider">/</span>
                    <a href="#" class="bread-current">Dashboard</a>
                </div>
                <div class="clearfix"></div>
            </div>

             <div id="course-list" class="page-head">
                <!-- Page heading -->
                <!-- Breadcrumb -->
              <!--  <div >
                    <a href="#" class="course"><i class="fa fa-bars"></i> BUS 520P Managerial Finance</a>
                    <a href="#" class="course"><i class="fa fa-bars"></i> BUS 634P Strategic Management</a>
                </div>
            -->
                <div class="clearfix"></div>
            </div>
            <!--/ Page heading ends -->
            <!-- Matter -->



            <!-- session stuff-->


<!-- takeaway stuff-->
        <div class="col-md-6" id="takeaway-container">
                      <!-- Widget -->
                      <div class="widget wlightblue">
                        <!-- Widget title -->
                        <div class="widget-head">
                          <div class="pull-left">Recent TakeAways</div>
                          <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                          </div>
                          <div class="clearfix"></div>
                        </div>

                        <div class="widget-content">
                          <!-- Widget content -->
                          <div class="padd">

                            <ul id="takeaway-list" class="recent">
                              <li>
                                <div class="recent-content">
                                  <div class="recent-meta">Posted on 25/1/2120 by Ashok</div>
                                  <div>Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
                                  </div>

                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-success"><i class="fa fa-check"></i> </button>
                                    <button class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> </button>
                                    <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
                                  </div>

                                  <button class="btn btn-xs btn-danger pull-right">Spam</button>

                                  <div class="clearfix"></div>
                                </div>
                              </li>



                              <li>

                                <div class="recent-content">
                                  <div class="recent-meta">Posted on 25/1/2120 by Ashok</div>
                                  <div>Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
                                  </div>

                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-success"><i class="fa fa-check"></i> </button>
                                    <button class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> </button>
                                    <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
                                  </div>

                                  <button class="btn btn-xs btn-danger pull-right">Spam</button>

                                  <div class="clearfix"></div>
                                </div>
                              </li>


                            </ul>

                          </div>
                        </div>

                          <!-- Widget footer -->
                          <div class="widget-foot">

                                <ul class="pagination pull-right">
                                  <li><a href="#">Prev</a></li>
                                  <li><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                  <li><a href="#">Next</a></li>
                                </ul>
                            <div class="clearfix"></div>

                          </div>

                      </div>

                    </div>
                  </div>

                </div>
                  </div>

            <!--/ Matter ends -->
        </div>
        <!--/ Mainbar ends -->
        <div class="clearfix"></div>
    </div>
    <!--/ Content ends -->





    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a>
    </span>


           <script type="text/javascript">

      var Course = Backbone.Model.extend({
        urlRoot:'/courses'
      });

      var CourseView = Backbone.View.extend({
        tagName: "a",
        className: "course",

        template:_.template('<span><i class="fa fa-bars"></i> <%= course_name%></span>'),
        render : function(){
              this.$el.append(this.template(this.model.toJSON()));
              return this;
        },
        events: {"click span":"loadTakeaways"},
        loadSessions: function(){
            var sessionList = new SessionList();
            sessionList.fetch({data: {course: this.model.id},
                success: function(collection, response){
                    var sessionListView = new SessionListView({collection:collection.models});
                    sessionListView.render();
                }});
        },

        loadTakeaways : function(){
            var takeawayList = new TakeawayList();
            takeawayList.fetch({data: {course: this.model.id},
                success: function(collection, response){
                    var takeawayListView = new TakeawayListView({collection:collection.models});
                    takeawayListView.render();
                }});
        }

      });

    var CourseList = Backbone.Collection.extend({
            model: Course
    });

    var CourseListView = Backbone.View.extend({

        render : function(){
            this.collection.forEach(this.addOne,this);
            return this;
        },
        addOne: function(course){
            var courseObject = new Course();
            courseObject.set(course);
            var courseView = new CourseView({model:courseObject});
            $(this.el).append(courseView.render().el);
        }

    });


    var course = new Course();
    course.fetch({success:function(collection, response){
        var courses = collection.attributes.results;
        var courseListView = new CourseListView({collection:courses});
        $("#course-list").append(courseListView.render().el);
    }});


    </script>



<script>
        var EditInPlaceForm = Backbone.View.extend({
    tagName: "form",

    events: {
        "submit": "save"
    },

    initialize: function (options) {
        _.extend(this, options);
    },

    render: function () {
        this.$el.html($("<input>", {
            value: this.model.get(this.attribute)
        }));
        return this;
    },

    save: function () {
        this.model.set(this.attribute, this.$el.find("input").val());
        this.model.save();
        return false;
    }
});

var EditInPlaceView = Backbone.View.extend({

    attribute: "notes",

    initialize: function (options) {
        _.extend(this, options);
        this.model.on("change", this.render, this);
    },

    events: {
        "dblclick": "edit"
    },

    render: function () {
        this.$el.html(this.model.get(this.attribute));
        return this;
    },

    edit: function () {
        this.$el.html(new EditInPlaceForm({
            model: this.model,
            attribute: this.attribute
        }).render().el);
        this.$el.find("input").select();
    }

});
</script>

<script type="text/template" id="takeaway-templates">
    <div class="widget-head">
                            <div class="pull-left"><%= course%>-<%= session %>-<%= user%>  </div>
                            <div class="widget-icons pull-right">
                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content">
                            <div class="padd">
                                <%=notes%>
                            </div>
                        </div>


</script>


<script type="text/template" id="session-template">

                                          <th><center><%= id%></center></th>
                                          <th><a> <%= session_name%></a></th>
                                          <th><%= session_dt%></th>

</script>

<script type="text/template" id="takeaway-template">
    <li>
                                <div class="recent-content">
                                  <div class="recent-meta">Posted on 25/1/2120 by <%= user%></div>
                                  <div id="editable-notes"></div>

                                  <div class="btn-group">
                                    <button class="btn btn-xs btn-success"><i class="fa fa-check"></i> </button>
                                    <button class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> </button>
                                    <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
                                  </div>

                                  <button class="btn btn-xs btn-danger pull-right">Spam</button>

                                  <div class="clearfix"></div>
                                </div>
                              </li>

</script>


<script type="text/template" id="notes-template">
    <div id="edit-in-place">
    </div>
    </script>

<script>



var Session = Backbone.Model.extend({
    urlRoot:'/sessions/'
});

var SessionView = Backbone.View.extend({
     tagName: 'tr',
    render: function(){
        var template = _.template($('#session-template').html(),this.model.toJSON());
        this.$el.html(template);
        return this;
    },
    events:{"click a":"getTakeaways"},

    getTakeaways: function(event){
        var takeaways = new TakeawayList();
        var id = $(event.currentTarget).attr('id');
        takeaways.fetch({success: function(collection, response){
            var takeawaysForSession = new Array();
            var allTakeaways =collection.models[0].attributes.results;
            for(var i =0,j=0;i < allTakeaways.length;i++){
                var sessionId = allTakeaways[i].session;
                if(  sessionId == id){
                    takeawaysForSession[j]=allTakeaways[i];
                    j++;
                }
            }


            var takeawayListView = new TakeawayListView({collection:takeawaysForSession});
            takeawayListView.render();
        }});

    }
});



var SessionList = Backbone.Collection.extend({
    model:Session,
    url:'/sessions',
parse: function(response){
        return response.results;
    }
});


var SessionListView  = Backbone.View.extend({
    el: $("#session-table"),
    render: function(){
        this.$el.html("");
        this.collection.forEach(this.addOne,this);
    },
    addOne: function(session){
         var sessionObject = new Session();
              sessionObject.set(session);
              var sessionView = new SessionView({model:sessionObject});
              this.$el.append(sessionView.render().el);
    }
});

var session = new Session();
session.fetch({success: function(collection, response){
    var sessionListView = new SessionListView({collection: collection.attributes.results});
    //    $("#session-table").append(sessionListView.render().el);
    sessionListView.render();
}});

</script>




   <script>
    var Takeaway = Backbone.Model.extend({
        urlRoot:'/takeaways/'

    });
    var TakeawayView = Backbone.View.extend({

        render: function(){
            var template = _.template($('#takeaway-template').html(),this.model.toJSON());
            this.editInPlaceView = new EditInPlaceView({model:this.model});

            $(this.el).html(template);
            this.$('#editable-notes').append(this.editInPlaceView.render().el);
            return this;
        }
    });

    var TakeawayList = Backbone.Collection.extend({
        model: Takeaway,
        url:'/takeaways/'
    });

    var TakeawayListView = Backbone.View.extend({
        el: $("#takeaway-list"),
        render: function(){
            this.$el.html("");
            this.collection.forEach(this.addOne,this);
            return this;
        },
        addOne: function(takeaway){
              var takeawayObject = new Takeaway();
              takeawayObject.set(takeaway);
              var takeawayView = new TakeawayView({model:takeawayObject});
              this.$el.append(takeawayView.render().el);
        }
    });


var takeaway = new Takeaway();
takeaway.fetch({success:function(collection, response){

    var takeawayListView = new TakeawayListView({collection:collection.attributes.results});
    takeawayListView.render();

}});
        </script>


    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="/static/takeaway/js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="/static/takeaway/js/jquery-ui.min.js"></script>
    <!-- jQuery Flot -->
    <script src="/static/takeaway/js/excanvas.min.js"></script>
    <script src="/static/takeaway/js/jquery.flot.js"></script>
    <script src="/static/takeaway/js/jquery.flot.resize.js"></script>
    <script src="/static/takeaway/js/jquery.flot.pie.js"></script>
    <script src="/static/takeaway/js/jquery.flot.stack.js"></script>
    <!-- Sparklines -->
    <script src="/static/takeaway/js/sparklines.js"></script>
    <!-- jQuery Gritter -->
    <script src="/static/takeaway/js/jquery.gritter.min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="/static/takeaway/js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="/static/takeaway/js/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="/static/takeaway/js/custom.js"></script>

    <!-- Script for this page -->
    <script src="/static/takeaway/js/sparkline-index.js"></script>



    /* Curve chart ends */
    </script>

</body>

</html>
