
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% load staticfiles %}
    <title>MBA Takeaways</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "takeaway/css/app.css"%}" rel="stylesheet">
    <link href="{% static "takeaway/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static "takeaway/css/carousel.css"%}" rel="stylesheet">
    <script src="{% static "takeaway/js/lib/jquery.js"%}"></script>
 <script src="/static/takeaway/js/app.js?{% now "U" %}" type="text/javascript"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="/static/takeaway/js/lib/jquery.cookie.js" type="text/javascript"></script>

    <script src="/static/takeaway/js/jquery.gritter.min.js" type="text/javascript"></script>
        <!-- Bootstrap JS -->
      <script src="{% static "takeaway/js/lib/bootstrap.min.js"%}"></script>


  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="hupso-share-buttons"><a class="hupso_float" href="http://www.hupso.com/share/"></a><script type="text/javascript">var hupso_services_f=new Array("Twitter","Facebook","Google Plus","Pinterest","Linkedin","Tumblr","StumbleUpon");var hupso_icon_type_f = "icons";var hupso_background_f="#EAF4FF";var hupso_border_f="#66CCFF";var hupso_float_left_f=true;</script><script type="text/javascript" src="http://static.hupso.com/share/js/float.js"></script></div><!-- Hupso Share Buttons -->

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" id="navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>


            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav" id="nav-menu">
                <li ><a href="#testimonials">TESTIMONIALS</a></li>
                <li class="contact">
                      <a class="contactUs" href="#" data-toggle="modal" data-target="#contactModal"> CONTACT US</a>
                 </li>
              </ul>
              <div class="nav-right">

                <form action="{% url 'handlelogin'  %}" class="form-horizontal" method="post" name="login_form" id="login_form"> {% csrf_token %}
                  <span>LOGIN:</span>
                  <label for="inputEmail"></label>
                  <input type="text" name="Username" placeholder="username">
                <label for="inputPassword"></label>
                <input type="password" name="Password" placeholder="password">
                <input type="hidden" name="Mode" value="login" >
                <label><input type="checkbox"></label>
                <button type="submit" class="btn">Sign in</button>
                <a class="button" href="/accounts/register">Register</a>
              </form>
                {% if error_message %} <p class="wdiget-content" style="color:red">{{ error_message }}</p> {% endif %}
          </div>

            </div>
          </div>
        </div>
        <div style="float:left"> <a class="btn btn-large" id="show" href="/demo/">Feature Sneak Peek</a>
        <a style="float:right" class="btn btn-large" id="show" href="/play/">Try it</a></div>


      </div>

    </div>
   <div id="contactModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                   <div class="modal-content">
                      <div class="modal-header">
                      <button id="modalCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" id="myModalLabel">Contact us</h4>
                      </div>
                      <div class="form-group">
                                  <p><label class="control-label col-lg-3" for="id_email">E-mail:</label><input id="id_sender" name="sender" type="email"></p>
                          </div>
                    <div class="form-group" >
                          <p><label class="control-label col-lg-3" for="id_subject" >Subject:</label>
                          <input id="id_subject" name="subject" type="text"></p>
                     </div>

                    <div class="form-group">
                              <p><label class="control-label col-lg-3" for="id_message">Message:</label>
                                  <textarea name="message" id="contact" rows="8" cols="40"></textarea></p>
                          </div>
                          <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="contactUs" data-dismiss="modal" class="btn btn-primary">Send       </button>
                      </div>
                  </div>

              </div>
            </div>
          </div>

      <script>
     var csrftoken = $.cookie("csrftoken");

function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }

            if(settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE'){
               if (settings.url.substr(-1) != '/') settings.url += '/';
           }

   },
   complete: function(xhr, status) {
       if (xhr.status == 403) {
          window.location.replace("/takeaways/index");
       }
   }

});
</script>

    <!-- Carousel
    ================================================== --><!-- /.carousel -->

    <div id="background" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->

            <img class="img" src="/static/takeaway/img/background.jpg" style="width:100%;height:110%">

     </div>
     <hr class="featurette-divider" id="divider">
      <div class="row featurette" id="row">
        <div class="col-md-7">
          <h2 class="featurette-heading">THINK WITH YOUR CLASS</h2>
          <p class="lead">Collaborate better with your classmates using the app. Accelerate your learning powered by the different perspectives of your class.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://ww2.hdnux.com/photos/10/44/13/2245341/5/628x471.jpg" style="width:900px;height:400px;">
        </div>
      </div>


                                  <!--<button class="btn btn-xs btn-danger pull-right">Spam</button>-->

                                  <div class="clearfix"></div>
                                </div>
                              </li>


    <hr class="featurette-divider" id="divider">

      <div class="row featurette" id="row">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/static/takeaway/img/value-over-time.jpg" style="width:700px;height:400px;">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Value Over Time</h2>
          <p class="lead">The takeaways learnt are not just applied during exams or job interviews but stays with you forever as life lessons</p>
        </div>
      </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<hr class="featurette-divider" id="divider">
      <!-- START THE FEATURETTES -->


       <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators" id="indicator">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption" id="caption">
              <h1>BUS 628P Investment Banking</h1>
              <p>Growth is not always good. For growth to be beneficial it has to be at least be equal to Weighted Average Cost of Capital (WACC).
                <br/>
                - <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/03c/31d/1ce898b.jpg" alt="Generic placeholder image" style="width: 40px; height: 40px;"><a href="http://tinyurl.com/kq3qksv" style="color:#fffff">Suresh Atluri</a>, Emory
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption" id="caption">
              <h1>BUS 661P Applied Entrepreneurship</h1>
              <p>TMake an "Irrational" Offer to STAND OUT from the crowd. This is more true for start-ups. Examples of such offers are
1. Zappos - 365 day return policy , no questions asked
2. Nordstrom - No questions asked return policy , once they took back snow chains which they don't even sell.
3. Sunglasses for kids - Break it or lose it, we will send you another one for free if you register on our site.
</p>

            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption" id="caption">
              <h1>BUS 651P Strategic Decision Analysis</h1>
              <p>Companies hedge non-core items ( global firms hedging currency) and take risks in core operations. Individual are risk averse, insurance companies are risk-neutral
First-mover advantage comes from the ability to commit oneself to an advantageous position and to force the other players to adapt to it. Second-mover advantage comes from the flexibility to adapt oneself to the other's choices.
</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


      <hr class="featurette-divider" id="divider">
       <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div id="testimonials" class="row">
        <!--<div class="col-lg-4">
          <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/03a/218/25c9bc9.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Chakravarthy U</h2>
          <h4>Dir of Engineering, ChatBoost</h4>
          <h4 id="testimonial">Wharton Executive MBA, class of 2016</h4>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
          <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/000/2d0/095/07c98b3.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Hamdan Merchant</h2>
           <h4>Senior Lean Program Specialist, MSc Industrial Supply Co</h4>
           <h4>Emory, class of 2016</h4>
          <p id="testimonial">I have used “MBA takeaways” for the last 5 months, and the benefits of a collaborative learning environment were evident immediately. In particularly it was most beneficial for my preparations for the finals in Strategic management in August 2014, where inlieu of reading all the chapters again , I went through the summarized points contributed not only by me but my classmates as well. This is definitely a new and improved way of learning and I’m confident that it will be a good reference tool for years to come.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
          <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/005/046/31f/36e907c.jpg" style="width: 140px; height: 140px;">
          <h2>Sreejayanth Kidambi</h2>
          <h4>Principal Engineer at Integrated Device Technology</h4>
          <h4>Emory, class of 2012</h4>
          <p id="testimonial">As a recent MBA I have been looking for a way to store key takeaways from the courses I took in school so that I can quickly browse through them when necessary without having to open my course material. mbatakeaways.com is a great way to achieve that. I wish I had something like this available during my stay in business school to help me revise key points quickly before an exam or an assignment. I can see this coming in handy even while preparing for an interview where using a timely example from a case study while pursuing a line of thought can go a long way in impressing the interviewer.
</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <hr class="featurette-divider" id="divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p style="text-align:center">copyright © 2014 Takeaway Pro </p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


     <script src="{% static "takeaway/js/bootstrap.min.js"%}"></script>
         <script src="{% static "takeaway/js/lib/docs.min.js"%}"></script>

  </body>
</html>
