<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MBA TAKEAWAYS</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="../static/design/css/header/design.css">
    <link rel="stylesheet" href="../static/design/css/header/modo.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/css/demo.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/css/docs.css">
    <link rel="stylesheet" href="../static/design/css/common-files/animations.css">
    <link rel="stylesheet" href="../static/design/css/common-files/icon-font.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/bootstrap/css/jquery.bxslider.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/bootstrap/css/bootstrap-docs.css">
    <link rel="stylesheet" href="../static/design/css/project/ui-kit-styles.css">

    <link rel="stylesheet" href="../static/design/css/crew/ui-kit-styles.css">
    <link rel="stylesheet" href="../static/design/css/footer/ui-kit-styles.css">
    <link rel="stylesheet" href="../static/design/css/content/ui-kit-styles.css">


    <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
    <!-- Using only with Flat-UI (free)-->
  </head>
  <body>
     <!-- header-18 -->
      <div class="header-18">
        <div id="h-18-pt-main" class="header-18-sub page-transitions pt-perspective">
          <div class="pt-page pt-page-current">
            <section class="header-18-section s1 bg-turquoise clearfix">
              <div class="t-row">
                <div>
                  <div class="background">&nbsp;</div>
                  <header>
                    <div class="container">
                      <a class="brand" href="#">
                        <img src="../static/design/images/icons/Infinity-Loop@2x.png" width="100" height="100" alt="">
                      </a>
                    </div>
                  </header>
                  <div class="container clearfix">
                    <div class="row">
                      <div class="col-sm-5 col-sm-offset-1" style="width:86.666%;margin-left:10.666%">
                        <h3>THINK WITH YOUR CLASS</h3>
                        <div class="visible-xs text-center" style="margin-bottom: 30px">
                          <img src="../static/design/images/common-files/header/browser-iphone@2x.png" width="300" height="300" alt="">
                        </div>
                        <p>SHARE YOUR TAKEAWAY</p>
                      </div>
                      <div class="col-sm-4 col-sm-offset-1 hidden-xs">
                        <div class="img">
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="t-row footer">
                <footer class="bg-green-sea">
                  <div class="container">
                    <span>You can Sign In with popular Social Networks</span>
                    <div class="btns">
                      <a href="#" class="btn btn-primary">Sign In with Twitter</a><a href="#" class="btn btn-primary">Sign In with Facebook</a>
                    </div>
                  </div>
                </footer>
              </div>
            </section>
          </div>
          <div class="pt-page">
            <section class="header-18-section s2 bg-alizarin">
              <div>
                <div class="background">&nbsp;</div>This could be your content
              </div>
            </section>
          </div>
          <div class="pt-controls">
            <div>
              <a class="pt-control-prev" href="#"><span class="fui-arrow-left"> </span></a>
            </div>
            <div>
              <a class="pt-control-next" href="#"><span class="fui-arrow-right"> </span></a>
            </div>
          </div>
        </div>
      </div>

    <section class="content-4">
        <div class="container">
          <h3>We love what we do. This is features of our products</h3>
          <div class="row features">
            <div class="col-sm-4">
              <img src="../static/design/images/icons/retina-ready-s@2x.png" alt="" width="117" height="104">
              <h6>Block Model</h6>
              <p>You can easily combine any components in a variety of design projects. It’s easy!</p>
            </div>
            <div class="col-sm-4">
              <img src="../static/design/images/icons/clock@2x.png" alt="" width="104" height="104">
              <h6>Multi-components</h6>
              <p>There are a lot of different blocks that will help you to make a perfect project.</p>
            </div>
            <div class="col-sm-4">
              <img src="../static/design/images/icons/rocket-big-grey-bg@2x.png" alt="" width="101" height="101">
              <h6>Save Your Time</h6>
              <p>Use your time for generating new ideas for your startup. Take a break from the routine.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="content-8">
        <div>
          <div class="container">
            <div class="img">
              <img src="../static/design/images/content/img-1@2x.png" alt="">
            </div>
            <h3>Take a look to our amazing Kit</h3>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <p>We have a great surprise for Designmodo fans – our first free HTML user interface kit. Flat UI Free is made on the basis of Twitter Bootstrap in a stunning flat-style.
                </p>
                <a class="btn btn-large btn-clear" href="#">TRY IT NOW</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section class="content-19">
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <div class="quote">
                <div class="quote-text">
                  We have considered your needs in developing the html version of our UI Kit, which contains elements.
                </div>
                <div class="quote-author">
                  <div class="quote-author-photo"></div>
                  <div class="quote-author-name">
                    VLADIMIR KUDINOV, DESIGNMODO
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
              <div class="quote">
                <div class="quote-author">
                  <div class="quote-author-photo"></div>
                  <div class="quote-author-name">@mc</div>
                </div>
                <div class="quote-date">25 MINUTES AGO</div>
                <div class="quote-text">Easy to change and easy to create new elements with color.</div>
              </div>
              <div class="quote">
                <div class="quote-author">
                  <div class="quote-author-photo"></div>
                  <div class="quote-author-name">@stSilent</div>
                </div>
                <div class="quote-date">1 HOUR AGO</div>
                <div class="quote-text">Easy to change and easy to create new elements with color.</div>
              </div>
            </div>
          </div>
        </div>
      </section>
 <section class="crew-4">
        <div class="container">
          <h3>Startup Framework<br/>
            The Second Sneak-Peek of Startup Framework</h3>
          <div class="members">
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo">
                    <img src="../../common-files/img/crew/vladimir-k.png" alt="">
                  </div>
                  <div class="overlay">
                    <a href="#"><span class="fui-vimeo"></span></a>
                    <a href="#"><span class="fui-facebook"></span></a>
                    <a href="#"><span class="fui-twitter"></span></a>
                  </div>
                </div>
                <div class="info">
                  <div class="name">Vladimir Kudinov</div>
                  <b>Designer</b> who makes easy to change and easy to create new elements.
                  <div class="contacts">
                    <a href="#">http://vladimirkudinov.com</a>
                    <br>
                    <a href="#">@stSilent</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo">
                    <img src="../../common-files/img/crew/sergey-s.png" alt="">
                  </div>
                  <div class="overlay">
                    <a href="#"><span class="fui-vimeo"></span></a>
                    <a href="#"><span class="fui-facebook"></span></a>
                    <a href="#"><span class="fui-twitter"></span></a>
                  </div>
                </div>
                <div class="info">
                  <div class="name">Sergey Shmidt</div>
                  <b>Designer</b> who makes easy to change and easy to create new elements.
                  <div class="contacts">
                    <a href="#">http://vladimirkudinov.com</a>
                    <br>
                    <a href="#">@stSilent</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo">
                    <img src="../../common-files/img/crew/adrian-v.png" alt="">
                  </div>
                  <div class="overlay">
                    <a href="#"><span class="fui-vimeo"></span></a>
                    <a href="#"><span class="fui-facebook"></span></a>
                    <a href="#"><span class="fui-twitter"></span></a>
                  </div>
                </div>
                <div class="info">
                  <div class="name">Adrian Valeanu</div>
                  <b>Designer</b> who makes easy to change and easy to create new elements.
                  <div class="contacts">
                    <a href="#">http://vladimirkudinov.com</a>
                    <br>
                    <a href="#">@stSilent</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.container-->
      </section>

      <footer class="footer-5 bg-wet-asphalt">
        <div class="container">
          <a class="brand" href="#">
            <span class="glyphicon glyphicon-pencil" style="color:#f88529;width="35"; height="35""></span> 
          </a>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="text">Startup Framework will help you to find an awesome form for your
                <br/>startup project in a short time</div>
            </div>
          </div>
          <a class="btn btn-small" href="#"><span class="fui-twitter"> </span> Follow @Designmodo</a>
        </div>
      </footer>
      <div class="delimiter-big"></div>

    <section class="contacts-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h3>We love what we do. <br> This is features of our products</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <form>
                <label class="h6">Name / Last Name</label>
                <input type="text" class="form-control">
                <label class="h6">E-mail</label>
                <input type="text" class="form-control">
                <label class="h6">Message</label>
                <textarea rows="7" class="form-control"></textarea>
                <button type="submit" class="btn btn-primary"><span class="fui-mail"></span>
                </button>
              </form>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <div class="additional">
                <h6>Need Help?</h6>
                <p>Don’t hestiate to ask us something. Email us directly <a href="#">info@designmodo.com</a> or call us at <b>1-347-567-8670</b>. You can checkout our <a href="#">FAQ</a> and <a href="#">Help</a> page to get more information about our products.</p>
              </div>
              <div class="additional">
                <h6>FAQ</h6>
                <p>As a Harvard professor, he was one of the first to explore the relationship between chemical equilibrium and the reaction rate of chemical processes.</p>
              </div>
              <div class="phone">
                <big>347 567 78 90</big>
AVAILABLE AT 12PM - 18PM
              </div>
            </div>
          </div>
        </div>
      </section>

    <script src="../static/design/js/common-files/jquery-1.10.2.min.js">
    </script>
    <script src="../static/design/js/flat-ui/bootstrap.min.js"></script>
    <script src="../static/design/js/common-files/modernizr.custom.js"></script>
    <script src="../static/design/js/common-files/page-transitions.js"></script>
    <script src="../static/design/js/common-files/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="../static/design/js/common-files/jquery.parallax.min.js"></script>
    <script src="../static/design/js/common-files/easing.min.js"></script>
    <script src="../static/design/js/common-files/jquery.svg.js"></script>
    <script src="../static/design/js/common-files/jquery.svganim.js"></script>
    <script src="../static/design/js/common-files/startup-kit.js"></script>
  </body>
  </html>