<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MBA TAKEAWAYS</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="../static/design/css/header/design.css">
    <link rel="stylesheet" href="../static/design/css/header/modo.css">
    <link rel="stylesheet" href="../static/design/css/header/tablet.css" media="screen and (max-width:900px)">
    <link rel="stylesheet" href="../static/design/css/header/mobile.css" media="screen and (max-width:480px)">
    <link rel="stylesheet" href="../static/design/css/flat-ui/css/demo.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/css/docs.css">
    <link rel="stylesheet" href="../static/design/css/common-files/animations.css">
    <link rel="stylesheet" href="../static/design/css/common-files/icon-font.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/bootstrap/css/jquery.bxslider.css">
    <link rel="stylesheet" href="../static/design/css/flat-ui/bootstrap/css/bootstrap-docs.css">
    <link rel="stylesheet" href="../static/design/css/project/ui-kit-styles.css">
    <link rel="stylesheet" href="../static/design/css/contacts/ui-kit-styles.css">
    <link rel="stylesheet" href="../static/design/css/crew/ui-kit-styles.css">
    <link rel="stylesheet" href="../static/design/css/footer/ui-kit-styles.css">
    <link rel="stylesheet" href="../static/design/css/content/ui-kit-styles.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>




    <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- Using only with Flat-UI (free)-->


    <style>

      .trending-takeaways {
          background-color: #f0f0f0;
          padding-top: 100px;
          padding-bottom: 70px;
          margin:100px;
      }

      .carousel-inner {
        position: relative;
overflow: hidden;
width: 100%;
      }

      input:focus{
        color:black;
        border: 3px solid #black;
      }

      .item {
      position: relative;
      width:583px;
      margin-left: 210px;
      margin-right:100px;
      text-align: center;
      }
      h3 {
        font-size: 22px;
        line-height: 2;

      }
      .input-padding{
        padding:5px;
      }
      .signup{
        background-color: #69a74e;
        background-image: linear-gradient(#67ae55, #578843);
        color: black;
      }
    </style>

  </head>
  <body style="padding-top:0px">
      <!-- header-2 -->
     <header class="header-8">
        <div class="container">
          <div class="row">
            <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                  <span class="glyphicon glyphicon-circle-arrow-left" style="color:#fff"></span>
                </button>
                <div class="brandd">
                <span class="glyphicon glyphicon-pencil" style="color:#000;font-size:x-large"></span>
                  <b><span style="color:#910808;font-size:25px">MbaTakeaways</span></b>
                </div>
              </div>
              <div class="collapse navbar-collapse pull-right">
                <ul id="nav-menu" class="nav pull-left">
                  <li><a href="#">Home</a>
                  </li>
                  <li><a href="#heading">Testimonials</a>
                  </li>
                  <li><a href="#trending">Trending Takeaways</a>
                  </li>
                  <li><a href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="header-background" style="background:#fff;box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);"></div>
      </header>
      <section class="header-2-sub bg-midnight-blue">
        <div class="background" id="mybck">&nbsp;</div>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2" id="wide">
              <div class="hero-unit">
                <span class="theme">THINK WITH YOUR CLASS</span>
                <h4 id="caption">SHARE YOUR TAKEAWAY</h4>
              </div>
              <div class="btns">
                <a class="btn btn-danger" id="feature" href="/demo/">Feature Sneak Peek</a>
              </div>
            </div>
          </div>
        </div>
                  <div class="form-group" style="margin-left:150px;margin-top:150px">
                    <form action="{% url 'handlelogin'  %}" class="form-horizontal" method="post" name="login_form" id="login_form"> {% csrf_token %}
                   <label for="inputEmail"></label>
                  <input type="text" class="input-padding" name="Username" placeholder="Username" autofocus>
                <label for="inputPassword"></label>
                <input class="input-padding"type="password" name="Password" placeholder="Password">
                <input type="hidden" name="Mode" value="login">
                
                <button type="submit" class="btn btn-inverse ">Sign in</button>
                 or 
                <a class="btn signup" href="/accounts/register">Register</a>
                <div><input type="checkbox"><label>Remember me</label></div>
              </form>
              {% if error_message %} <p class="wdiget-content" style="color:red">{{ error_message }}</p> {% endif %}
              </div>


      </section>

    <section class="content-4">
        <div class="container">
          <h3>Collaborate with your class to create takeaways for each session</h3>
          <hr>
          <div class="row features">
            <div class="col-sm-4">
              <img src="../static/takeaway/img/test.png" alt="" width="117" height="104">
              <h6>Do well in Tests</h6>
              <p>You can easily combine any components in a variety of design projects. It’s easy!</p>
            </div>
            <div class="col-sm-4">
              <img src="../static/design/images/icons/Clipboard@2x.png" alt="" width="104" height="104">
              <h6>Interviews</h6>
              <p>There are a lot of different blocks that will help you to make a perfect project.</p>
            </div>
            <div class="col-sm-4">
              <img src="../static/takeaway/img/pocketbook.png" alt="" width="101" height="101">
              <h6>Pocket Book</h6>
              <p>Use your time for generating new ideas for your startup. Take a break from the routine.</p>
            </div>
          </div>
        </div>
      </section>

      <!--<section class="content-8" style="background:#e9eaed">
        <div>
          <div class="container">
            <div class="img">
              <img src="../static/design/images/content/ps-wire-imac@2x.png" alt="">
            </div>
            <h3 style="font-family:serif">THINK WITH YOUR CLASS</h3>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <p>Collaborate better with your classmates using the app. Accelerate your learning powered by the different perspectives of your class.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>-->

<section class="content-11" style="background: #e9eaed;
">
                <div class="container">
                    <span>You have the Problem, We have the solution</span>
                    <a class="btn btn-large btn-danger" href="/play/">TRY IT NOW</a>
                </div>
            </section>

    <section  style="margin-top:100px">
        <div >
          <h3 id="trending">TRENDING TAKEAWAYS</h3>
            <hr>
           <div class="trending-takeaways">
    <div class="carousel-inner">

      <div class="item"><h3>"76% of consumers do not believe advertising to be truthful. 99% of the ads seen by a consumer are forgotten within the first hour. Given these odds, marketing messaging needs to stand out !"</h3>  <div>APPLIED ENTERPRENEURSHIP</div></div>

       <div class="item"><h3>"Growth is not always good. For growth to be beneficial it has to be at least be equal to Weighted Average Cost of Capital (WACC) !"</h3>  <div>INVESTMENT BANKING</div></div>

       <div class="item"><h3>"Companies hedge non-core items ( global firms hedging currency) and take risks in core operations. Individual are risk averse, insurance companies are risk-neutral"</h3>  <div>STRATEGIC DESIGN ANALYSIS</div></div>

    </div>


  </div>

    <!--/.container-->
</section>






 <section class="crew-4">
        <div class="container">
          <h3 id="heading">TESTIMONIALS</h3>
          <div class="members">
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo">
                    <img class="img-circle" src="../static/takeaway/img/hamdan.jpg" style="width: 140px; height: 140px;">
                  </div>
                </div>
                <div class="info">
                  <div class="name">Hamdan Merchant</div>
                  <b>Senior Lean Program Specialist, MSc Industrial Supply Co<br>Emory, class of 2016</b><br>
                  I have used “MBA takeaways” for the last 5 months, and the benefits of a collaborative learning environment were evident immediately. In particular, it was most beneficial for my preparations for the finals in Strategic management in August 2014, where inlieu of reading all the chapters again , I went through the summarized points contributed not only by me but my classmates as well. This is definitely a new and improved way of learning and I’m confident that it will be a good reference tool for years to come.
                </div>
              </div>
            </div>
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo">
                    <img class="img-circle" src="../static/takeaway/img/kidambi.jpg" style="width: 140px; height: 140px;">
                  </div>
                </div>
                <div class="info">
                  <div class="name">Sreejayanth Kidambi</div>
                  <b>Principal Engineer at Integrated Device Technology
                  <br>Emory, class of 2012</b><br>
                  As a recent MBA, I have been looking for a way to store key takeaways from the courses I took in school so that I can quickly browse through them when necessary without having to open my course material. mbatakeaways.com is a great way to achieve that. I wish I had something like this available during my stay in business school to help me revise key points quickly before an exam or an assignment. I can see this coming in handy even while preparing for an interview where using a timely example from a case study while pursuing a line of thought can go a long way in impressing the interviewer.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.container-->
      </section>
      <section class="contacts-4">
        <div class="container">
          <div class="content">
            <h3>Get in touch with us</h3>
           <div class="links">
                <a href="#"><span class="glyphicon glyphicon-earphone"></span> +1 201 253 59 99</a>
                <br>
                <a href="#"><span class="fui-mail"></span> support@mbatakeaways.com </a>
              </div>
          </div>
        </div>
      </section>
    <script src="../static/design/js/common-files/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.min.js"></script>

    <script src="../static/design/js/flat-ui/bootstrap.min.js"></script>
    <script src="../static/design/js/common-files/modernizr.custom.js"></script>
    <script src="../static/design/js/common-files/page-transitions.js"></script>
    <script src="../static/design/js/common-files/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="../static/design/js/common-files/jquery.parallax.min.js"></script>
    <script src="../static/design/js/common-files/easing.min.js"></script>
    <script src="../static/design/js/common-files/jquery.svg.js"></script>
    <script src="../static/design/js/common-files/jquery.svganim.js"></script>
    <script src="../static/design/js/common-files/startup-kit.js"></script>

    <script src="../static/design/css/sample/4/js/script.js"></script>




    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel-inner').slick({
              infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 10000,
            });
        });
    </script>

  </body>
  </html>
