
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>MBATakeaways</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="/static/takeaway/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/takeaway/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/static/takeaway/css/bootstrap-switch.css" rel="stylesheet">
    <link href="/static/takeaway/css/style.css" rel="stylesheet">
    <!-- Widgets stylesheet -->
    <link href="/static/takeaway/css/widgets.css" rel="stylesheet">

<link href="/static/takeaway/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="/static/takeaway/css/jquery.raty.css" rel="stylesheet"> -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">




<link href="/static/takeaway/css/app.css?{% now "U" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/takeaway/css/jquery.gritter.css" />



  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
  <script src="/static/takeaway/js/lib/jquery.autosize.min.js" type="text/javascript"></script>
  <script src="/static/takeaway/js/lib/bootstrap.min.js"></script>
  <script src="/static/takeaway/js/lib/jquery.cookie.js" type="text/javascript"></script>
<!--   <script src="/static/takeaway/js/lib/jquery.raty.js" type="text/javascript"></script> -->
  <script src="/static/takeaway/js/lib/bootstrap-tagsinput.js" type="text/javascript"></script>

  <script src="/static/takeaway/js/lib/bootstrap-switch.js" type="text/javascript"></script>

<script src="/static/takeaway/js/jquery.gritter.min.js" type="text/javascript"></script>


  <script src="/static/takeaway/js/session.js?{% now "U" %}" type="text/javascript"></script>
<script src="/static/takeaway/js/takeAwayProfile.js?{% now "U" %}" type="text/javascript"></script>
  <script src="/static/takeaway/js/selectcourses.js" type="text/javascript"></script>
  <script src="/static/takeaway/js/app.js?{% now "U" %}" type="text/javascript"></script>
  <script src="/static/takeaway/js/notification.js?{% now "U" %}" type="text/javascript"></script>
    <!-- jQuery -->

    <!-- Bootstrap JS -->


    <!-- jQuery UI -->
    <script src="/static/takeaway/js/lib/custom.js"></script>

    <style type="text/css">

    .availablecourses li {
    position:relative;
    display:list-item;
    float:left;
    width: 30%;
    padding-top: 5px;
    font-size: 16px;
    line-height: 4;
    text-align: center;
    background-color: #f9f9f9;
    border:  1px solid #1A0B0B;

    }


    .courselist{

    list-style:none;
    }
    .courselist li:hover {
    color: #fff;
    background-color: #3b5998;
    }

    .registered{
    position:relative;
    color: #fff ;
    background-color: #3b5998 !important;
    }


#section{
    font-size: 12px;
    text-decoration: underline;
    position:absolute;
    bottom:3px;
    right:0px;
    line-height:1;
}

#tick{
    position:absolute;
    top:0px;
    right:5px;
    line-height:1
}
    </style>



    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>




<script>
      var csrftoken = $.cookie("csrftoken");

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>




    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" >
        <div class="container">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index'%}" class="navbar-brand">MBATakeaways</a>
            </div>
            <!-- Site name for smallar screens -->
            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <!-- Links -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <!--<img src="/static/takeaway/img/user.jpg" alt="" class="nav-user-pic img-responsive" />-->
                            {%if user.first_name%} {{user.first_name}}
                            {%elif user.username %}{{user.username}}{%endif%}<b class="caret"></b>
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>


                            <li><a href="{% url 'logoutuser'%}"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Notifications -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Message button with number of latest messages count-->
                    <li class="dropdown dropdown-big">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i> Notifications
                            <span class="badge badge-important" id="inboxSize"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-envelope-o"></i> New Takeaways</h5>

                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>

                            <div id="notifications-list" style="height:300px;overflow-y : auto"> </div>
                            <!-- <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li> -->
                        </ul>
                    </li>
                    <!-- Members button with number of latest members count -->
                    <li class="dropdown dropdown-big" style="display:none">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="fa fa-user"></i> Classmates
                            <span class="badge badge-success">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Heading - h5 -->
                                <h5><i class="fa fa-user"></i> Classmates</h5>
                                <!-- Use hr tag to add border -->
                                <hr />
                            </li>
                            <li>
                                <!-- List item heading h6-->
                                <a href="#">Ravi Kumar</a>
                                <span class="label label-warning pull-right">Finance</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Balaji</a>
                                <span class="label label-important pull-right">Marketing</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>
                            <li>
                                <a href="#">Kumarasamy</a>
                                <span class="label label-warning pull-right">Good in Everything</span>
                                <div class="clearfix"></div>
                                <hr />
                            </li>

                            <li>
                                <div class="drop-foot">
                                    <a href="#">View All</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                        <!-- Dropdown menu -->
                            <li><a href="{% url 'profile'%}"><i class="fa fa-user"></i> Profile</a>
                            </li>
                </ul>
            </nav>
        </div>
    </div>


    <!-- Main content starts -->
    <div class="content">
        <!-- Sidebar -->
        <div class="sidebar mainsidebar">
            <div class="sidebar-dropdown"><a href="#">Navigation</a>
            </div>
            <div class="sidebar-inner">
                <!--
                <div class="sidebar-widget">
                    <form>
                        <input type="text" class="form-control" placeholder="Search">
                    </form>
                </div> -->
                <!--- Sidebar navigation -->
                <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
                <ul class="navi">
                    <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

                    <li class="ourblue current" id="selcet-classes"><a  class="ourblue" href="#"><i class="fa fa-desktop"></i> Courses</a>
                    </li>


                    <li class=" " id="change-password"><a class="ourblue" href="/passwordchange/password_change/"><i class="glyphicon glyphicon-cog"></i> Change Password</a>


                        </li>

                </ul>
                <!--/ Sidebar navigation -->


            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!-- Sidebar ends -->

        <!-- Main bar -->
        <div class="mainbar" style="margin-left:230px">

            <!-- Page heading -->
            <div class="page-head">
                <!-- Page heading -->
                <h1 id="choose-course-heading" class="pull-left">Select from the following courses</h1>
                <div class="clearfix"></div>
            </div>

            <div class="matter">
                <div class="row">
                        <div class="col-xs-12" role="main">
                             <div class="courses">

                                <div id="available-course-list"  class="availablecourses">
                                <div id="select-course-info" class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> Lets get started! Proceed by selecting one or more courses, click on course to select</div>
                                <div id="select-course-warning" class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Sorry! You need to select atleast one course to get started.</div>

                                 </div>

                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div id="select-course-complete"class="btn btn-primary col-lg-offset-4"><a style="color:white" href="/takeaways/index">I'm done selecting courses</a></div>
                </div>
                <!-- Breadcrumb -->

                 <div class="clearfix"></div>


            </div>

        </div>

<script type="text/template" id="course-template">
    <span id="course<%=id%>"><%= course.course_name%>
    </span>



     <span id="tick"
     <% if (alreadyRegistered) { %>
        style="display:block"
        <% } %>

        <% if (!alreadyRegistered) { %>
        style="display:none"
        <% } %>

        ><i class="fa fa-check-circle"></i></span>





<span id="section" style=""><%=section.name%></span>
</script>





</body>

</html>
